logging:
    file:
        path: ./log/xxpay-shop.log
server:
    port: 8091
spring:
    datasource:
        connectionProperties: druid.stat.mergeSql=true;druid.stat.slowSqlMillis=5000
        driver-class-name: com.mysql.jdbc.Driver
        filters: stat,wall,log4j
        initialSize: 5
        maxActive: 20
        maxPoolPreparedStatementPerConnectionSize: 20
        maxWait: 60000
        minEvictableIdleTimeMillis: 300000
        minIdle: 5
        password: xxpay
        poolPreparedStatements: true
        testOnBorrow: false
        testOnReturn: false
        testWhileIdle: true
        timeBetweenEvictionRunsMillis: 60000
        type: com.alibaba.druid.pool.DruidDataSource
        url: jdbc:mysql://192.168.1.249:3306/xxpaydb?useUnicode=true&characterEncoding=utf-8&autoReconnect=true
        username: xxpay
        validationQuery: SELECT 1 FROM DUAL
    freemarker:
        cache: false
        charset: UTF-8
        check-template-location: true
        content-type: text/html
        expose-request-attributes: true
        expose-session-attributes: true
        request-context-attribute: request
        suffix: .ftl
        templateEncoding: UTF-8
        templateLoaderPath: classpath:/templates/
    mvc:
        favicon:
            enabled: false
    profiles:
        active: dev

arthas:
    agent-id: xxpay-shop-${spring.profiles.active}
    tunnel-server: ws://192.168.1.249:7777/ws
